<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <div class="navbar">
      <a class="nav" href="/home">Home</a>
      <a class="nav" href="/">Products</a>
      <a class="nav" href="/about">About Us</a>
    </div>
    <h1>Let Us Hear From You</h1>
    <div class="center">
      <div class="showCard">
        Call us at (123)-456-7890
        <br><br>
        You can also reach us from the following links:
        <br><br>
        beachsideshops404.gmail.com
        <br><br>
        linkedin.com/beachsideshops404
        <br><br>
        facebook.com/beachsideshops404
        <br><br>
        twitter.com/beachsideshops404
      </div>
    </div>
    <div class="footer">
      <a class="nav" href="/contact">Contact Us</a>
    </div>
  </body>
</html>
