<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <div class="navbar">
      <a class="nav" href="/home">Home</a>
      <a class="nav" href="/">Products</a>
      <a class="nav" href="/about">About Us</a>
    </div>
    <h1>Welcome to the Beachside Shop</h1>
    <div class="center">
      <img class="homeImage" src="https://www.colonialbeach.org/wp-content/uploads/2018/04/Beach-Shop-500x389.jpg" alt="">
    </div>
    <div class="footer">
      <a class="nav" href="/contact">Contact Us</a>
    </div>
  </body>
</html>
